@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kanit&family=Karla&display=swap');

/*Tags para configurações gerais da página*/

@keyframes fundo {
    0%{background-color: #f86afd;}
    50%{background-color:#ff6262;}
    100%{background-color: #f86afd;}
}


*{
    box-sizing: border-box;
    scroll-behavior: smooth;

}

html{
    font-size: 62,5%;
}

/*Cor de fundo e animação*/

body{
    background-color: #f86afd;
    animation-name: fundo;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

/*Tags para estilizar o menu*/

#menu{
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
}

#menu ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#menu li{
    color:aliceblue;
    list-style: none;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
}

/**Precisa estar nessa ordem!**/

#menu a {
    transition-duration: 0.20s;
}

#menu a:link {
    color:aliceblue;
    text-decoration: none;
}

#menu a:visited{
    color:aliceblue;
    text-decoration: none;
}

#menu a:hover{ 
    color:palevioletred;
    text-decoration: none;
}

#menu a:active {
    color:brown;
    text-decoration: none;
}

/*Modificações de textos*/
#SpiceSugar{
    font-size: 5rem;
    font-family: 'Comfortaa', cursive;
    margin-bottom: -1%;
    margin-top: 0;
}

#cardapio-titulo, #avaliacoes-titulo {
    font-size: 4rem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.texto-inicial{
    font-size: 2.7vw;
    font-family: 'Karla', sans-serif;
    text-align: justify;
    padding-right: 5%;
    animation-name: aparecer;
    animation-duration: 2s;
}

/**FlexBox**/
#caixa-inicial{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 7%;
}

.caixa-inicio{
    width: 55vw;
    height: 95vh;
    text-align: center;
    margin-top: 2.5%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.img-inicial{
    width: 35vw;
    padding-top: 10%;
}

hr {
    border-bottom: none;
    border-color: black;
    width: 50vw;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

/**Cardápio**/

.caixa-cardapio-1 {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    padding: 1%;
}

.foto-cupcake {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.nome-cupcake{
    font-family: 'Comfortaa', cursive;
    font-size: 3vw;
    padding-top: 5%;
    padding-bottom: -3%;
}

.valor {
    font-family: 'Kanit', sans-serif;
    font-size: 2vw;
}

.descricao-cupcake {
    font-family: 'Karla', sans-serif;
    font-size: 1.5vw;
}

.caixa-sabor {
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    padding-bottom: 3%;
    margin-top: -3%;
    border-bottom: 2px dashed black;
}

.caixa-sabor:last-child {
    border-bottom: none;
}


.nome {
    /**background-color: #d4b607;**/
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
}

.preco {
    /**background-color: #b3c700;**/
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    justify-content: center;
    align-content: center;
}

.descricao {
    /**background-color: rgb(255, 251, 0);**/
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: justify;
}

.foto {
    /**background-color: #dbeb04;**/
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    align-items: center;
    padding-left: 20px;
}

/*Começo da formatação dos comentários.*/

.caixa-avaliacoes {
    /*background-color: aqua;*/
    width: 100vw;
}

.caixa-avaliacoes-grid {
    margin: auto;
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 40vh);
    width: 90vw;
    padding-bottom: 5%;
}

#ana {
    /**background-color: rgb(38, 0, 255);**/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#joao {
    /**background-color: blue;**/
    grid-column-start: 2;
    grid-column-end: 5;
}

#paula {
    /*background-color: blue;*/
    grid-column-start: 2;
    grid-column-end: 4;
}

#pedro {
    /*background-color: blue;*/
    grid-column-start: 4;
    grid-column-end: 5;
}

.cliente {
    background-color: #ef3dff;
    border: 2px solid black;
    padding: 10px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition-duration: 0.8s;
}

.cliente:hover{
    transform: scale(1.08);
    background-color: #3a1977;
    color: rgb(202, 202, 202);
}


.nome-cliente {
    font-family: 'Comfortaa', cursive;
    font-size: 2.5vw;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    padding-left: 4px;
}

.comentario {
    font-family: 'Karla', sans-serif;
    font-size: 1.7vw;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 5;
}

.fotos-clientes {
    width: 6vw;
    height: 12vh;
    border-radius: 100px;
    border: 3px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
}